<table class="table table-striped">
    <thead>
    <tr>
        <th>Status</th>
        <th>Action</th>
        <th>Time</th>
        <th>Information</th>
    </tr>
    </thead>
    <tbody id="activity-tbody">
    <tr>
        <td>
            <span class="label label-primary"><i class="fa fa-check"></i> Completed</span>
        </td>
        <td>
           Create project in webapp
        </td>
        <td>
           12.07.2014 10:10:1
        </td>
        <td>
            14.07.2014 10:16:36
        </td>
        <td>
        <p class="small">
            Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable.
        </p>
        </td>

    </tr>
    </tbody>
</table>

