{% load art_tags %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>Changed by</th>
        <th>Action</th>
        <th>Value</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody id="activity-tbody">
        {% for activity in object.events %}
            <tr>
                <td>{{ activity.user.name }}</td>
                <td>{{ activity.event|activity_label }}</td>
                {% if activity.event == 'ChangeStatus' %}
                    <td>{{ activity.value|status_label}}</td>
                {% else %}
                    <td><small>{{ activity.value}}</small>  </td>
                {% endif %}
                <td>{{ activity.created_at }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

