{% extends 'general/base.html' %}
{% load staticfiles %}
{% block ExtraHead %}
    <style>
    .modal-open .select2-dropdown {
        z-index: 10060;
    }

    .modal-open .select2-close-mask {
        z-index: 10055;
    }
    </style>
{% endblock %}
{% block Content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Request detail</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'dashboard' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'art_request.list' %}">Art request</a>
                </li>
                <li class="active">
                    <strong>Detail</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
            <div class="col-lg-9">
                <div class="wrapper wrapper-content animated fadeInUp">
                    <div class="ibox">
                        <div class="ibox-title">
                            <div class="btn-group">
                                <a href="{% url 'art_request.update' object.id %}" class="btn btn-default" type="button"><i class="fa fa-edit"></i> Edit </a>
                                <a class="btn btn-default" type="button" id="btnComment"><i class="fa fa-comment-o"></i> Comment </a>
                                {% include 'art/actions/assign.html' %}
                            </div>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" aria-expanded="true">Workflow <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" id="btnCompleted" class="jsBtnStatus">Completed</a></li>
                                    <li><a href="#" id="btnInProgress" class="jsBtnStatus">In Progress</a></li>
                                    <li><a href="#" id="btnInReview" class="jsBtnStatus">In Review</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#" id="btnReturned" class="jsBtnStatus">Returned</a></li>
                                    <li><a href="#" id="btnInactive" class="jsBtnStatus">Inactive</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="m-b-md">
                                        <h2>{{ object.name }}</h2>
                                    </div>
                                    <dl class="dl-horizontal">
                                        <dt>Status:</dt> <dd><span class="label label-primary">{{ object.get_status_display }}</span></dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <dl class="dl-horizontal">

                                        <dt>Created by:</dt> <dd>{{ object.owner.name }}</dd>
                                    </dl>
                                </div>
                                <div class="col-lg-7" id="cluster_info">
                                    <dl class="dl-horizontal">

                                        <dt>Last Updated:</dt> <dd>{{ object.last_update }}</dd>
                                        <dt>Created:</dt> <dd> 	{{ object.created_at }} </dd>
                                        <dt>Responsible:</dt> <dd>{% if object.responsible %} {{ object.responsible.name }} {% else %}Not Assigned {% endif %}</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <dl class="dl-horizontal">
                                        <dt>Completed:</dt>
                                        <dd>
                                            <div class="progress progress-striped active m-b-sm">
                                                <div style="width: {{ object.progress }}%;" class="progress-bar"></div>
                                            </div>
                                            <small>Request completed in <strong>{{ object.progress }}%</strong>.</small>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row m-t-sm">
                                <div class="col-lg-12">
                                <div class="panel blank-panel">
                                <div class="panel-heading">
                                    <div class="panel-options">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#tab-1" data-toggle="tab" aria-expanded="true">Users messages</a></li>
                                            <li class=""><a href="#tab-2" data-toggle="tab" aria-expanded="false">Last activity</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="panel-body">

                                <div class="tab-content">
                                <div class="tab-pane active" id="tab-1">
                                    <div class="feed-activity-list">
                                    {% if object.messages %}
                                        {% for message in object.messages %}
                                            <div class="feed-element">
                                                <a href="#" class="pull-left">
                                                    <img alt="image" class="img-circle" src="{% static 'img/avatar.png' %}">
                                                </a>
                                                <div class="media-body ">
                                                    <small class="pull-right">{{ message.created_at }}</small>
                                                    <strong>{{ message.user.name }}</strong><br>
                                                    <small class="text-muted">Design</small>
                                                    <div class="well">
                                                        {{ message.value|safe }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="alert alert-info" role="alert">
                                            <p>There are no comments for this item.</p>
                                        </div>
                                    {% endif %}
                                    </div>

                                </div>
                                <div class="tab-pane" id="tab-2">
                                    {% include 'art/activity.html' %}
                                </div>
                                </div>

                                </div>

                                </div>
                                </div>
                            </div>
                        </div>
                        {% include 'art/actions/comment.html' %}
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="wrapper wrapper-content project-manager">
                    <h4>Request description</h4>
                    <p class="small">
                        {{ object.description }}
                    </p>
                    <h5>Request files</h5>
                    <ul class="list-unstyled project-files">
                        {% for file in object.artrequestfile_set.all %}
                            <li><i class="fa fa-file"></i> {{ file.name }}</li>
                        {% endfor %}
                    </ul>
                    <div class="text-center m-t-md">
                        <a href="{% url 'art_request.files' object.id %}" class="btn btn-md btn-primary">File Manager</a>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
{% block ExtraJS %}
    {% include 'art/actions/assignJS.html' %}
    {% include 'art/actions/commentJS.html' %}
    {% include 'art/actions/statusJS.html' %}
{% endblock %}