{% load staticfiles %}
<script type='text/javascript' src='{% static 'js/plugins/summernote/summernote.min.js' %}'></script>

<script type="text/javascript">
    $(document).ready(function() {
        $("head link[rel='stylesheet']").last().after("<link rel='stylesheet' href='{% static 'css/plugins/summernote/summernote.css' %}' type='text/css'>");
        $('#commentEditor').summernote();
    });

    $('#btnComment').click(function() {
        $(".jsCommentBox").css("display", "");
    });

    $('#btnSendMessage').click(function() {
        $.ajax({
            type: "POST",
            url: "{% url 'ajax.insert-comment' %}",
            data: {
                art_request_id: {{ object.id }},
                message: $('#commentEditor').summernote('code'),
            },
            success: function () {
                setTimeout(
                  function()
                  {
                     location.reload();
                  }, 0001);
            }
        });
    });
</script>